#define IDM_FILE_EXIT   10001
#define IDM_FILE_LIST   10002
#define IDM_FILE_CLEAR  10003
#define IDM_FILE_RECOMMENDATION  10004
#define IDM_HELP_ABOUT  10101

MyMenu  MENU
BEGIN
	POPUP "&File"
  	BEGIN
    		MENUITEM "E&xit", IDM_FILE_EXIT
	END
	POPUP "&Action"
  	BEGIN
    		MENUITEM "&Recommendation", IDM_FILE_RECOMMENDATION
			MENUITEM "C&lear", IDM_FILE_CLEAR
			MENUITEM "L&ist", IDM_FILE_LIST
	END
	POPUP "&Help"
	BEGIN
	    	MENUITEM "&About",IDM_HELP_ABOUT
	END
END
